/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --nuxtBnB-gray-300: hsl(216, 12%, 84%);

  /* gutters */
  --gutter-default-sides: 1.25rem;
  --gutter-default-top: 6rem;

  /* cards */
}

@layer base {
  /* content-padding */
  .gutter {
    @apply px-[var(--gutter-default-sides)];
  }

  /* content max widths */
  .content-wrapper {
    @apply mx-auto;

    &-header {
      @apply max-w-screen-lg;
    }
  }
}
