/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* root */
:root {
  /* colors */
  --nuxtBnB-gray-300: hsl(216, 12%, 84%);
  --nuxtBnB-blue-primary: hsl(217, 91%, 60%);

  /* gutters */
  --gutter-default-sides: 1.25rem;
  --gutter-default-top: 3rem;
}

/* base layer */
@layer base {
  .heading {
    @apply text-slate-500;

    &-lg {
      @apply text-2xl;
    }
  }

  /* content-padding */
  .gutter {
    @apply px-[var(--gutter-default-sides)];

    @screen xl {
      @apply px-0;
    }
  }

  /* content max widths */
  .content-wrapper {
    @apply mx-auto;

    @screen md {
      &-header {
        @apply max-w-screen-xl;
      }

      &-body {
        @apply max-w-screen-lg;
      }

      &-extend {
        @apply max-w-screen-xl;
      }
    }
  }
}

/* components */
@layer components {
  .avatar {
    @apply object-cover w-8 h-8 border-2 border-blue-500 rounded-full;
  }

  /* button styles */
  button {
    @apply h-fit rounded-md;

    &.default {
      background-color: var(--nuxtBnB-gray-300);
      @apply px-1 py-2 text-gray-600;
    }

    &.booking {
      background-color: var(--nuxtBnB-blue-primary);
      @apply px-1 py-4 text-gray-100;
    }

    &.search {
      background-color: var(--nuxtBnB-blue-primary);
      @apply p-3;
    }

    &.submit {
      background-color: var(--nuxtBnB-blue-primary);
      @apply px-4 py-2 text-white;
    }
  }
}
